:root {
    /* Colors */

    /* Primary */

    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    /* Neutral */

    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);

}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

.box {
    background-color: var(--very-dark-blue);
    height: 100vh;
    background-image: url(../../assets/images/pattern-hills.svg), url(../../assets/images/bg-stars.svg);
    background-position: bottom, top;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
}

@media screen and (max-width: 680px) {
    .box {
        background-position: bottom right, top;
    }
}

.container {
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

/*--- Top Part ---*/
.top-box {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    color: var(--white);
    letter-spacing: 10px;
    font-size: 20px;
}


@media screen and (max-width: 680px) {
    .top-box {
        letter-spacing: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {
    .top-box {
        padding-left: 30px;
        padding-right: 30px;
        letter-spacing: 5px;
        font-size: 18px;
    }
}


.content {
    /* temporary class */
    background-color: aliceblue;
}

/*--- Central Part ---*/
.central-box {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

/* .clearfix::after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
} */

.count-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-desaturated-blue);
    color: var(--soft-red);
    font-size: 60px;
    /* padding: 20px; */
    height: 120px;
    min-width: 120px;
    border-radius: 7%;
    box-shadow: 0 10px var(--very-dark-mostly-black-blue);
    margin: 15px;
    
    position: relative;
    perspective: 600px;
}

.count-box div {
    
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.count-box span {
    
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.up {    
    
    border-radius: 10px 10px 0 0;    
    top: 0;
    background-color: var(--dark-desaturated-blue);    
}
.up2 {    
    margin-top: 58px;
    z-index: 10;    
    height: 2px !important;
    width: auto;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1));;
    opacity: 30%;
    /* position: absolute; */
}
.up span {
    padding: 16% 0 0 0;
    top: 0;
}

.down {
    border-radius: 0 0 10px 10px;
    bottom: 0;
    background-color: var(--dark-desaturated-blue);
}
.down2 {        
    z-index: 10;    
    height: 60px !important;
    width: auto;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0));;
    opacity: 30%;
    /* position: absolute; */
}
.down span {
    padding: 0 0 17.1% 0;
    bottom: 0;
}

/* -- concave borders -- */
.border {
    background:radial-gradient(circle at top left,transparent 30px,#32CBFF 0) top left,
      radial-gradient(circle at top right,transparent 30px,#32CBFF 0) top right,
      radial-gradient(circle at bottom left,transparent 30px,#32CBFF 0) bottom left,
      radial-gradient(circle at bottom right,transparent 30px,#32CBFF 0) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
}


@media screen and (max-width: 680px) {
    .count-box {
        font-size: 40px;
        padding: 15px;
        min-width: 55px;
        box-shadow: 0 7px var(--very-dark-mostly-black-blue);
        margin: 5px;
    }
}

@media screen and (max-width: 375px) {
    .count-box {
        font-size: 30px;
        padding: 15px;
        min-width: 40px;
        box-shadow: 0 5px var(--very-dark-mostly-black-blue);
        margin: 8px;
    }
}

@media screen and (max-width: 370px) {
    .count-box {
        font-size: 30px;
        padding: 10px;
        min-width: 40px;
        box-shadow: 0 5px var(--very-dark-mostly-black-blue);
    }
}

.f-text {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 4px;
    color: var(--grayish-blue);
    padding: 10px;
}

@media screen and (max-width: 680px) {
    .f-text {
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 4px;
        padding: 10px;
    }

}

@media screen and (max-width: 375px) {
    .f-text {
        font-size: 7px;
        font-weight: 100;
        letter-spacing: 3px;
        padding: 5px;
    }

}

@media screen and (max-width: 370px) {
    .f-text {
        font-size: 5px;
        font-weight: 100;
        letter-spacing: 4px;
        padding: 5px;
    }

}

/*-- Bottom Part --*/

.bottom-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.icon {
    width: 24px;
    height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

.icon:hover {
    fill: var(--soft-red);
}