:root {
    /* Colors */

    /* Primary */

    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    /* Neutral */

    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);

}


.box {
    background-color: var(--very-dark-blue);    
    height: 100vh;
    background-image: url(../../assets/images/pattern-hills.svg), url(../../assets/images/bg-stars.svg);
    background-position: bottom, top;
    background-repeat: no-repeat, no-repeat;    
}

.container {
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:center;
}

.content {
    background-color: aliceblue;
}



