:root {
    /* Colors */

    /* Primary */

    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    /* Neutral */

    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);

}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

.box {
    background-color: var(--very-dark-blue);    
    height: 100vh;
    background-image: url(../../assets/images/pattern-hills.svg), url(../../assets/images/bg-stars.svg);
    background-position: bottom, top;
    background-repeat: no-repeat, no-repeat;    
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
}

.container {
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:space-between;
}

/*--- Top Part ---*/
.top-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.content {  /* temporary class */
    background-color: aliceblue;    
}

/*--- Central Part ---*/
.central-box {
    display: flex;
    flex-grow: 1;
    align-items: center;    
}

.count-box {
    display: inline-block;
    background-color: var(--dark-desaturated-blue);
    color: var(--soft-red);
    font-size: 60px; 
    padding: 20px;   
    min-width: 90px;
    border-radius: 7%;
    box-shadow: 0 10px var(--very-dark-mostly-black-blue);
    margin: 15px;
}

@media screen and (max-width: 680px) {
    .count-box {
        font-size: 40px; 
        padding: 15px;   
        min-width: 55px;
        box-shadow: 0 7px var(--very-dark-mostly-black-blue);
        margin: 5px;
    }    
}

@media screen and (max-width: 400px) {
    .count-box {
        font-size: 30px; 
        padding: 10px;   
        min-width: 40px;        
        box-shadow: 0 5px var(--very-dark-mostly-black-blue);
    }
}

.f-text {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 4px;
    color: var(--grayish-blue);
    padding: 10px;    
}

@media screen and (max-width: 680px) {
    .f-text {
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 4px;
        padding: 10px;    
    }

}

@media screen and (max-width: 400px) {
    .f-text {
        font-size: 5px;
        font-weight: 100;
        letter-spacing: 4px;
        padding: 5px;    
    }

}

/*-- Bottom Part --*/

.bottom-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* margin-bottom: 100px;
    margin-top: 0; */
}